/* Image */
.tw-item-image>img {
    width: 100%;
}

/* Slider */
.tw-slider-navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tw-slider-navigation {
    display: flex;
    align-items: center;
}

.tw-slider-navigation>a[uk-slider-item] {
    background-color: #1A2B6B;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tw-slider-navigation>a+a {
    margin-left: 8px;
}

.tw-slider-navigation>.tw-link {
    margin-right: 24px;
}

.tw-slider-navigation>a.uk-invisible {
    visibility: visible !important;
    background-color: #fff;
}

.tw-slider-navigation>a.uk-invisible path {
    stroke: #95A1BB;
}

/* Element Button */
.tw-button {
    background: #1A2B6B;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding: 12px 28px;
}

/* Element Link */
.tw-link {
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #171821;
}

/* Row Custom BG */
.tw-row.tw-row-bg-toono-left-top,
.tw-row.tw-row-bg-toono-left {
    background: #f1f4f9 url(assets/images/row-background.svg) !important;
    background-repeat: no-repeat !important;
    z-index: 1 !important;
}

.tw-row.tw-row-bg-toono-left {
    background-position: 0px 10px !important;
}

.tw-row.tw-row-bg-toono-left-top {
    background-position: 0px -138px !important;
}

.tw-row.tw-row-bg-image-center {
    background-position: center center !important;
}

.tw-row.tw-bg-alhan-hee::before,
.tw-row.tw-bg-alhan-hee::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 25px;
    background-image: url(assets/images/bg-alhan-hee.svg );
    background-color: inherit;
}

.tw-row.tw-bg-alhan-hee::after {
    top: auto;
    bottom: 0;
}

.tw-row.tw-row-bg-white-line-thin,
.tw-row.tw-row-bg-white-line {
    background-color: #f1f4f9 !important;
}

.tw-row.tw-row-bg-white-line-thin::before,
.tw-row.tw-row-bg-white-line::before {
    content: '';
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 353px;
}

.tw-row.tw-row-bg-white-line-thin::before {
    height: 278px;
}

/* UK Tab */
.uk-tab {
    margin-bottom: 0;
    margin-left: 0;
    display: flex;
    flex-wrap: nowrap;
}

.uk-tab::before {
    border-bottom: none;
}

.uk-tab>li {
    background: rgba(14, 49, 120, 0.04);
    border-radius: 6px 6px 0px 0px;
    padding: 16px 24px;
}

.uk-tab>li svg {
    margin-right: 5px;
    transition: stroke .1s ease-in-out;
}

.uk-tab>li.uk-active {
    background-color: #fff;
}

.uk-tab>li>a {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #95A1BB;
    border-style: none;
    text-transform: none;
    padding: 0;
}

.uk-tab>li:hover svg path,
.uk-tab>li.uk-active svg path {
    stroke: #375BD2;
}

.uk-tab>li:hover>a,
.uk-tab>li.uk-active>a {
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #1A2B6B;
}

.uk-switcher {
    height: calc(100% - 48px);
    max-height: calc(100% - 48px);
}

.uk-switcher>li {
    position: relative;
    border-top-left-radius: 0 !important;
    padding: 32px 28px 28px 28px;
    height: 100%;
    box-sizing: border-box;
}

/* Element Title */
.tw-title {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #171821;
    margin-bottom: 0;
}

.tw-title::before {
    content: url(assets/images/icon-colors.svg );
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.tw-title>span {
    color: #1a2b6b;
    font-weight: 600;
    margin-right: 5px;
}

/* Element News */
.tw-news .tw-bottom {
    padding: 24px 32px 45px 32px;
    position: relative;
}

.tw-news .tw-bottom::after {
    content: url(assets/images/icon-toono.svg);
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -54px;
}

.tw-news .tw-bottom .tw-meta>* {
    margin-bottom: 0;
}

.tw-news .tw-bottom .tw-meta {
    display: flex;
    align-items: center;
}

.tw-news .tw-bottom .tw-meta .cat-item>a,
.tw-news .tw-bottom .tw-meta .cat-item>span {
    display: inline-block;
    padding: 8px 16px;
    background: rgba(62, 62, 221, 0.12);
    border-radius: 12px;
    color: #3E3EDD;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.08em;
}

.tw-news .tw-bottom .entry-date {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.02em;
    color: #95A1BB;
    margin-left: 32px;
}

.tw-news .tw-bottom .entry-date>svg {
    margin-right: 8px;
}

.tw-news .tw-bottom .tw-item-title {
    margin-top: 18px;
    margin-bottom: 0;
}

.tw-news .tw-bottom .tw-item-title a {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #1A2B6B;
}

.uk-switcher>li,
.tw-news .uk-slider-items .tw-slider-item {
    background-color: #fff;
    border-radius: 12px;
}

.tw-news .tw-item-image {
    position: relative;
}

.tw-news .tw-item-image::before {
    content: '';
    background: linear-gradient(180deg, rgba(8, 41, 108, 0) 0%, rgba(8, 41, 108, 0.2) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 12px;
}

.tw-news .uk-slider-container {
    margin-top: 32px;
}

.tw-news-tab-body.uk-switcher .tw-news-items {
    max-height: calc(100% - 60px);
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    left: 28px;
    top: 32px;
    width: calc(100% - 56px);
}

.tw-news-tab-body.uk-switcher .tw-news-item {
    display: flex;
    align-items: flex-start;
}

.tw-news-tab-body.uk-switcher .tw-news-item+.tw-news-item {
    margin-top: 28px;
}

.tw-news-tab-body.uk-switcher .tw-item-image::before,
.tw-news-tab-body.uk-switcher .tw-news-item img {
    border-radius: 8px;
    min-width: 48px;
    max-width: 48px;
    height: 48px;
}

.tw-news-tab-body.uk-switcher .tw-right {
    margin-left: 16px;
}

.tw-news-tab-body.uk-switcher .tw-item-title a {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #1A2B6B;
}

.tw-news-tab-body.uk-switcher .entry-date {
    margin-bottom: 0;
    text-align: left;
    display: flex;
    align-items: center;
}

.tw-news-tab-body.uk-switcher .entry-date a {
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
    color: #95A1BB;
    margin-left: 8px;
}

/* Element Calendar */
.em-calendar-wrapper {
    background: #FFFFFF;
    border: 1px dashed #F4F4F4;
    box-shadow: 0px 24px 64px rgba(22, 27, 45, 0.05);
    border-radius: 12px;
    padding: 30px 32px;
    margin-top: 30px;
}

.em-calendar-wrapper .em-calendar {
    margin-bottom: 0;
    border: none;
    position: relative;
}

.em-calendar-wrapper .em-calendar thead {
    min-height: 124px;
    display: block;
}

.em-calendar-wrapper .em-calendar thead tr {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.em-calendar-wrapper .em-calendar thead td {
    padding: 0;
    border: none;
}

.em-calendar-wrapper .em-calendar thead td.month_name {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #1A2B6B;
    display: flex;
    align-items: center;
    margin: 0 40px;
}

.em-calendar-wrapper .em-calendar thead td.month_name::after {
    content: url(assets/images/icon-calendar.svg);
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.em-calendar-wrapper .em-calendar thead .em-calnav {
    text-indent: -200%;
    overflow: hidden;
    display: block;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.em-calendar-wrapper .em-calendar thead .em-calnav-prev::before,
.em-calendar-wrapper .em-calendar thead .em-calnav-next::before {
    width: 20px;
    height: 20px;
}

.em-calendar-wrapper .em-calendar thead .em-calnav-prev {
    background-image: url(assets/images/icon-arrow-left.svg);
}

.em-calendar-wrapper .em-calendar thead .em-calnav-next {
    background-image: url(assets/images/icon-arrow-right.svg);
}

.em-calendar-wrapper .em-calendar tbody td {
    border-left: solid 1px #E8ECF3;
    border-bottom: solid 1px #E8ECF3;
    border-top: none;
    border-right: none;
}

.em-calendar-wrapper .em-calendar tbody td:last-child {
    border-right: solid 1px #E8ECF3;
}

.em-calendar-wrapper .em-calendar tbody tr:nth-child(2) td {
    border-top: solid 1px #E8ECF3;
}

.em-calendar-wrapper .em-calendar tbody tr.days-names td {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #95A1BB;
    border-style: none;
}

.em-calendar-wrapper .em-calendar tbody tr td.eventless-pre,
.em-calendar-wrapper .em-calendar tbody tr td.eventless-post,
.em-calendar-wrapper .em-calendar tbody tr td.eventful-pre,
.em-calendar-wrapper .em-calendar tbody tr td.eventful-post {
    background-color: #F1F4F9;
    text-indent: -200%;
    overflow: hidden;
}

.em-calendar-wrapper .em-calendar tbody tr td.eventless-pre>*,
.em-calendar-wrapper .em-calendar tbody tr td.eventless-post>*,
.em-calendar-wrapper .em-calendar tbody tr td.eventful-pre>*,
.em-calendar-wrapper .em-calendar tbody tr td.eventful-post>* {
    display: none;
}

.em-calendar-wrapper .em-calendar tbody tr:not(.days-names) td.eventful>span,
.em-calendar-wrapper .em-calendar tbody tr:not(.days-names) td {
    height: 100px;
    vertical-align: top;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #171821;
    padding: 8px 16px 16px 8px;
}

.em-calendar-wrapper .em-calendar tbody tr:not(.days-names) td:nth-child(6):not(.eventless-pre):not(.eventless-post),
.em-calendar-wrapper .em-calendar tbody tr:not(.days-names) td:nth-child(7):not(.eventless-pre):not(.eventless-post) {
    border-left: 1px solid #DF6837;
    border-bottom: 1px solid #DF6837;
    position: relative;
}

.em-calendar-wrapper .em-calendar tbody tr:not(.days-names) td:last-child:not(.eventless-pre):not(.eventless-post) {
    border-right: 1px solid #DF6837;
}

.em-calendar-wrapper .em-calendar tbody tr:nth-child(2) td:nth-child(6):not(.eventless-pre):not(.eventless-post),
.em-calendar-wrapper .em-calendar tbody tr:nth-child(2) td:nth-child(7):not(.eventless-pre):not(.eventless-post) {
    border-top: 1px solid #DF6837;
}

.em-calendar-wrapper .em-calendar tbody td.eventful-today::before,
.em-calendar-wrapper .em-calendar tbody td.eventless-today::before,
.em-calendar-wrapper .em-calendar tbody td.eventful-today::after,
.em-calendar-wrapper .em-calendar tbody td.eventless-today::after,
.em-calendar-wrapper .em-calendar tbody tr:not(.days-names) td:nth-child(6):not(.eventless-pre):not(.eventless-post)::before,
.em-calendar-wrapper .em-calendar tbody tr:not(.days-names) td:nth-child(7):not(.eventless-pre):not(.eventless-post)::before,
.em-calendar-wrapper .em-calendar tbody tr:not(.days-names) td:nth-child(6):not(.eventless-pre):not(.eventless-post)::after,
.em-calendar-wrapper .em-calendar tbody tr:not(.days-names) td:nth-child(7):not(.eventless-pre):not(.eventless-post)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: #DF6837;
    left: -1px;
    top: -1px;
}

.em-calendar-wrapper .em-calendar tbody td.eventful-today::after,
.em-calendar-wrapper .em-calendar tbody td.eventless-today::after,
.em-calendar-wrapper .em-calendar tbody tr:not(.days-names) td:nth-child(6):not(.eventless-pre):not(.eventless-post)::after,
.em-calendar-wrapper .em-calendar tbody tr:not(.days-names) td:nth-child(7):not(.eventless-pre):not(.eventless-post)::after {
    top: auto;
    bottom: -1px;
}

.em-calendar-wrapper .em-calendar tbody tr:not(.days-names) td:nth-child(6):not(.eventless-pre):not(.eventless-post)+.eventless-post {
    border-left: 1px solid #DF6837;
}

.em-calendar-wrapper .em-calendar tbody tr:nth-child(2) td:nth-child(6).eventless-pre {
    border-bottom: 1px solid #DF6837;
}

.em-calendar-wrapper .em-calendar tbody td {
    position: relative;
}

.em-calendar-wrapper .em-calendar tbody td.eventful-today,
.em-calendar-wrapper .em-calendar tbody td.eventless-today {
    background-color: #375BD2;
    border-color: #375BD2;
}

/* .em-calendar-wrapper .em-calendar tbody td.eventful-today::before, */
.em-calendar-wrapper .em-calendar tbody td.eventless-today::before,
.em-calendar-wrapper .em-calendar tbody td.eventful-today::after,
.em-calendar-wrapper .em-calendar tbody td.eventless-today::after {
    background-color: #375BD2;
}

.em-calendar-wrapper .em-calendar tbody td.eventful-today::before {
    background-color: transparent;
}

.em-calendar-wrapper .em-calendar tbody tr:nth-child(2) td.eventful-today,
.em-calendar-wrapper .em-calendar tbody tr:nth-child(2) td.eventless-today {
    border-top: solid 1px #375BD2;
}

.em-calendar-wrapper .em-calendar tbody td.eventful-today>span,
.em-calendar-wrapper .em-calendar tbody td.eventful-today,
.em-calendar-wrapper .em-calendar tbody td.eventless-today {
    color: #fff !important;
}

.em-calendar-wrapper .em-calendar tbody td>.tw-today-label {
    position: absolute;
    top: 16px;
    right: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.tw-events-list-container {
    background: none;
    border: none;
    position: absolute;
    right: 16px;
    bottom: 16px;
    padding: 0;
    cursor: pointer;
}

.tw-events-list-container svg {
    width: 40px;
}

.tw-events-list-container svg:not(:last-child) {
    margin-right: -30px;
}

.tw-events-list-container[aria-expanded="true"] .tw-events-list-inner {
    position: relative;
}

.tw-events-list-container[aria-expanded="true"]:not(.tw-drop-pos-top) .tw-events-list-inner::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #F4F4F4;
    transform: rotate(-45deg);
    left: 50%;
    bottom: -18px;
    margin-left: -15px;
    border-radius: 8px;
}

.em-calendar-wrapper .uk-drop {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(26, 43, 107, 0.12);
    border-radius: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    padding: 30px 30px 50px 30px;
    width: auto;
}

.em-calendar-wrapper .uk-drop li+li {
    border-top: solid 1px #E8ECF3;

}

.em-calendar-wrapper .uk-drop li {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.em-calendar-wrapper .uk-drop li:first-child {
    padding-top: 0;
}

.em-calendar-wrapper .uk-drop li:last-child {
    padding-bottom: 0;
}

.em-calendar-wrapper .uk-drop li>svg {
    min-width: 40px;
}

.em-calendar-wrapper .uk-drop li>div {
    margin-left: 10px;
}

.em-calendar-wrapper .uk-drop li>div>div:last-child {
    margin-top: 4px;
}

.em-calendar-wrapper .uk-drop .tw-calendar-modal-top .tw-modal-date,
.em-calendar-wrapper .uk-drop .event-right .tw-modal-date,
.em-calendar-wrapper .uk-drop .event-left a {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #1A2B6B;
}

.em-calendar-wrapper .uk-drop .tw-calendar-modal-top .tw-modal-date,
.em-calendar-wrapper .uk-drop .event-right .tw-modal-date {
    white-space: nowrap;
}

.em-calendar-wrapper .uk-drop .tw-calendar-modal-top .tw-modal-date-label,
.em-calendar-wrapper .uk-drop .event-right .tw-modal-date-label,
.em-calendar-wrapper .uk-drop .event-left .location-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #95A1BB;
}

.em-calendar-wrapper .uk-drop .event-right,
.em-calendar-wrapper .uk-drop .event-left {
    min-width: 110px;
}

.em-calendar-wrapper .uk-drop .tw-calendar-modal-top .tw-modal-date-label {
    text-transform: uppercase;
}

td > .tw-events-calendar-more-list {
    display: none;
}
.tw-events-calendar-more-inner {
    list-style: none;
    background: #FFFFFF;
    border: 1px dashed #F4F4F4;
    box-shadow: 0px 24px 64px rgb(22 27 45 / 5%);
    border-radius: 12px;
    padding: 30px 32px;
    margin-top: 30px;
}
.tw-events-calendar-more-list {
    padding-left: 0;
    margin-top: 20px;
}
.tw-events-calendar-more-list .tw-calendar-modal-top {
    padding-top: 0;
}
.tw-events-calendar-more-list>li {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.tw-events-calendar-more-list>li>svg {
    margin-right: 12px;
    margin-top: 10;
}
.tw-events-calendar-more-list>li+li {
    border-top: solid 1px #E8ECF3;
}
.tw-events-calendar-more-list .tw-calendar-modal-top .tw-modal-date-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-transform: uppercase;
    color: #95A1BB;
}
.tw-events-calendar-more-list .tw-modal-date,
.tw-events-calendar-more-list .event-left a {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #1A2B6B;
}
.tw-events-calendar-more-list .location-name ,
.tw-events-calendar-more-list .tw-modal-date-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #95A1BB
}
.tw-events-calendar-more-list .event-right,
.tw-events-calendar-more-list .event-left {
    vertical-align: top;
}
.tw-events-calendar-more-list .event-left {
    min-width: 160px;
    width: 160px;
    padding-right: 5px;
}
.tw-events-calendar-more-list .event-right {
    min-width: 120px;
    width: 120px;
    text-align: right;
}

.tw-event-info-table {
    margin-bottom: 0;
}

.tw-event-info-table,
.tw-event-info-table tr,
.tw-event-info-table td {
    border-width: 0;
    padding: 0;
}

.tw-events-calendar-more-head {
    text-align: right;
    margin-top: -20px;
    margin-right: -20px;
}
.tw-events-calendar-more-head .tw-btn-close {
    display: inline-block;
    cursor: pointer;
}
.tw-day-expanded {
    background-color: #B5C450;
}
.tw-day-expanded>span {
    color: #fff !important;
}
.tw-calendar-expanded .em-calendar-wrapper .em-calendar{
    min-width: 770px;
}
/* Element Events Carousel */
.tw-events-carousel .tw-entry {
    margin: -60px 20px 0;
    z-index: 29;
    background: #FFFFFF;
    border-radius: 12px;
    position: relative;
    padding: 20px 22px;
}

.tw-events-carousel .tw-entry .tw-item-title {
    margin-bottom: 0;
    max-width: calc(100% - 40px);
    max-height: 53px;
    height: 53px;
    overflow: hidden;
}

.tw-events-carousel .tw-entry .tw-item-title a {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1A2B6B;
    letter-spacing: 0.01em;
}

.tw-events-carousel .tw-entry .tw-entry-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #95A1BB;
}

.tw-events-carousel .tw-entry .tw-entry-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #171821;
    margin-top: 8px;
}

.tw-events-carousel .tw-entry .tw-entry-price .tw-entry-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #101010;
}

.tw-events-carousel .tw-entry .tw-entry-info-date {
    text-align: right;
    min-width: 100px;
}

.tw-events-carousel .tw-entry .tw-entry-info,
.tw-events-carousel .tw-entry .tw-entry-more,
.tw-events-carousel .tw-entry .tw-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.tw-events-carousel .tw-entry .tw-bottom>div {
    margin-top: 20px;
}

/* CTA Widget */
.tw-cta-widget-inner {
    padding: 43px 40px 40px 47px;
    border-radius: 12px;
    background-size: cover;
}

.tw-cta-widget-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.tw-cta-widget-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 12px;
}

.tw-cta-widget-link.tw-button {
    background: #375BD2;
    margin-top: 80px;
    margin-left: auto;
    margin-right: 0;
    display: inline-block;
}

/* Contact Widget */
.tw-contact-widget li>span {
    margin-right: 5px;
}

/* Top Bar Menu */
.tw-top-bar-menu {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.tw-top-bar-menu>li {
    height: 38px;
}

.tw-top-bar-menu>li+li {
    margin-left: 8px;
}

.tw-top-bar-menu>li>a {
    display: block;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.16px;
    color: #95A1BB !important;
    transition: color .3s ease-in-out;
    padding: 10px 16px;
}

.tw-top-bar-menu>li>a:hover {
    color: black !important;
}

.tw-top-bar-menu>li.menu-item-has-children>a {
    display: flex;
}

.tw-top-bar-menu>li.menu-item-has-children>a::after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7876 7L8.74093 11.0467L4.69427 7' stroke='white' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
    display: block;
    margin-left: 4px;
}

/* Organization Menu */
.tw-org-menu-parent-container {
    position: relative;
}

/* .tw-main-menu>.menu-item {
    height: 72px;
} */

.organization-menu {
    position: absolute;
    left: 0;
    top: 42px;
    display: flex;
    padding: 32px 60px;
    background-repeat: repeat no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

.tw-top-bar-menu .organization-menu {
    top: 48px;
}

.organization-menu .organization-menu-item {
    position: relative;
    width: 260px;
    height: 120px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.organization-menu .organization-menu-item>img {
    filter: saturate(0);
    transition: filter .3s ease-in-out;
}

.organization-menu .organization-menu-item:hover>img {
    filter: saturate(100%);
}

.organization-menu .organization-menu-item>img,
.organization-menu .organization-menu-item::after {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.organization-menu .organization-menu-item::after {
    z-index: 1;
    content: '';
    background: linear-gradient(0deg, rgba(39, 47, 54, 0.6), rgba(39, 47, 54, 0.6))
}

.organization-menu .tw-menu-item-icon {
    display: flex;
    align-items: center;
}

.organization-menu .organization-menu-item+.organization-menu-item {
    margin-left: 48px;
}

.organization-menu .tw-menu-item-icon,
.organization-menu h5 {
    z-index: 2;
}

.organization-menu .tw-menu-item-icon {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
}

.organization-menu .tw-menu-item-icon>svg {
    margin-right: 10px;
}

.organization-menu h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #fff;
    margin-top: 10px;
}

.tw-org-menu-parent-container:hover>.organization-menu {
    opacity: 1;
    visibility: visible;
}

/* iMap */
#map {
    height: calc(100vh - 120px);
}

.tw-imap .tw-filter-container {
    position: absolute;
    left: -400px;
    top: 0;
    width: 400px;
    height: 100%;
    z-index: 9999;
    background-color: #171821;
    transition: left .3s ease-in-out;
}

.tw-imap .tw-filter-container.opened {
    left: 0;
}

.tw-imap .tw-filter-header {
    /* padding: 32px 0px 0px 32px; */
    padding: 32px;
    position: relative;
    border-bottom: 1px solid #313241;
}

.tw-imap .tw-imap-filter-form label {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #8891A3;
}

.tw-imap .tw-filter-item {
    padding: 16px 32px;
}

.tw-imap .tw-filter-item+.tw-filter-item {
    border-top: solid 1px #313241;
}

.tw-imap .tw-filter-body {
    overflow-y: auto;
}

.tw-imap .tw-item-title {
    cursor: pointer;
}

.tw-imap .tw-filter-button {
    background-color: #375BD2;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 52px;
    right: -48px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#tw-imap-filter {
    background: #171821;
    -webkit-appearance: auto;
    -moz-appearance: auto;
}
.tw-imap-filter-field {
    border: 1px solid #313241;
    border-radius:  8px;
    padding-right: 15px;
}

/* Accordion Job */
.tw-accordion-job h3 {
    background: #FFFFFF;
    border: 1px solid #E3E6F1;
    padding: 24px 0 24px 40px;
    cursor: pointer;
}

.tw-accordion-job .uk-open .uk-accordion-title::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2066_19231)'%3E%3Cpath d='M16 12L7.99996 3.99997L2.67032e-06 12L16 12Z' fill='%23F2C20E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2066_19231'%3E%3Crect width='16' height='16' fill='white' transform='translate(16 16) rotate(180)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
    position: absolute;
    right: 4%;
}

.tw-accordion-job .uk-accordion-title::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4L8.00004 12L16 4L0 4Z' fill='%23F2C20E'/%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
    position: absolute;
    right: 4%;
}

.tw-accordion-job .uk-accordion-content .tw-text p {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #1A2B6B;
}

.tw-accordion-job .uk-accordion-content .tw-text ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #42485B;
}

.tw-accordion-job .uk-accordion-content .tw-text {
    padding: 0;
}

/* Job send button */
.tw-accordion-job .uk-accordion-content .tw-text {
    background: none;
    box-shadow: none;
}

.tw-accordion-job .uk-accordion-content a {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #E3E6F1;
    border-radius: 999px;
    color: #1A2B6B;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.016em;
    color: #1A2B6B;
    margin-top: 64px;
    padding-left: 60px;
}

.tw-accordion-job .uk-accordion-content a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2042_20106)'%3E%3Cpath d='M11.9997 0C5.37253 0 0 5.37269 0 11.9999C0 18.6269 5.37253 24 11.9997 24C18.6269 24 23.9998 18.6269 23.9998 11.9999C23.9998 5.37269 18.6269 0 11.9997 0ZM12 4.21492L19.1011 8.64297H4.89885L12 4.21492ZM19.1896 15.714H19.1888C19.1888 16.4242 18.6132 16.9998 17.9031 16.9998H6.09686C5.38661 16.9998 4.81109 16.4242 4.81109 15.714V8.92473C4.81109 8.84961 4.81877 8.77657 4.83125 8.70481L11.616 12.9355C11.6243 12.9407 11.6332 12.9442 11.6417 12.949C11.6507 12.954 11.6598 12.9588 11.6689 12.9633C11.7168 12.988 11.7662 13.008 11.8167 13.021C11.8219 13.0224 11.8271 13.0231 11.8323 13.0243C11.8876 13.0373 11.9437 13.0455 11.9997 13.0455H12.0001C12.0005 13.0455 12.0009 13.0455 12.0009 13.0455C12.0569 13.0455 12.113 13.0376 12.1684 13.0243C12.1736 13.023 12.1788 13.0224 12.184 13.021C12.2344 13.008 12.2836 12.988 12.3317 12.9633C12.3408 12.9588 12.35 12.954 12.3589 12.949C12.3674 12.9442 12.3764 12.9407 12.3847 12.9355L19.1694 8.70481C19.1819 8.77657 19.1896 8.84945 19.1896 8.92473V15.714Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2042_20106'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    width: 24px;
    height: 24px;
    content: "";
    position: absolute;
    left: 0;
    background-color: #1A2B6B;
    border: 5px solid;
    border-radius: 50%;
    left: 8px;
    top: 6px;
}

/* Element Pells filter */
.tw-pells-filter .tw-title {
    margin-bottom: 30px;
}